.App {
    border: 1px solid black;
    height: 300px;
    width: 300px;
    margin: 20px auto;
}

.container {

}

.scoreBoard {
    border: 1px solid black;
    height: 100px;
    width: 200px;
    margin: 0 auto;
}

.buttonContainer {
    border: 1px solid black;
    height: 100px;
    width: 200px;
    margin: 0 auto;
}

.error {
    color: red
}