.container {
    border: 1px solid aquamarine;
    min-height: 250px;
    width: 250px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    background-color: gray;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.scoreBoard {
    height: 100px;
    width: 200px;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    border-radius: 10px;
    background-color: aquamarine;
}

.buttonContainer {
    margin-top: 20px;
    border: 1px solid aquamarine;
    height: 100px;
    width: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
}

.error {
    color: red
}